body { 
  font-family: 'Courier New';
  padding: 0; 
}

img#logo { 
  position: fixed; 
  top: 0; 
  right: 0; 
}
img#logo_bh { 
  float: right; 
}

t { 
  color:gray; 
}

textarea {
  width: 100%;
  font-family: 'Courier New', Courier, Consolas, Monaco, monospace;
  tab-size: 16;
}

p {
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39aec6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39aec6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider:after
{
 content:'Local File Mode';
 color: black;
 display: block;
 position: absolute;
 width: max-content;
 top: 20%;
 left: 110%;
 font-size: 14px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'Endpoint Mode';
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}